/*Colores*/
/*Fuente*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1d1c1c;
  height: 100%;
  width: 98%; }

/*Nav desktop*/
.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  background-color: orangered;
  border: 3px #6d0101 solid;
  height: 60px;
  width: 100%; }
<<<<<<< HEAD

.nav_icon {
  position: absolute;
  display: inline-block;
  height: 53px;
  width: 40px;
  margin-left: 10px; }

.nav img {
  margin-top: 5px; }

.nav_name {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  color: #6b0202;
  margin-top: 10px;
  margin-left: 65px;
  animation-duration: 2s;
  animation-name: entrar;
  animation-iteration-count: initial; }
=======
  .nav .nav_icon {
    position: absolute;
    display: inline-block;
    height: 53px;
    width: 40px;
    margin-left: 10px; }
  .nav .nav img {
    margin-top: 5px; }
  .nav .nav_name {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
    color: #6b0202;
    margin-top: 10px;
    margin-left: 65px;
    animation-duration: 2s;
    animation-name: entrar;
    animation-iteration-count: initial; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

@keyframes entrar {
  0% {
    opacity: 0; }
  25% {
    color: #861400; }
  75% {
    color: #6d0101; }
  100% {
    opacity: 1; } }
<<<<<<< HEAD

.nav_login {
  float: right;
  margin-top: 0;
  margin-right: 0%;
  height: 57px;
  width: 150px;
  color: black;
  background-color: orangered;
  border: #6d0101 2px solid;
  border-right: 0px #6d0101 solid;
  transition: 0.7s; }

.nav_login:hover {
  background-color: #f76029; }

.nav_register {
  float: right;
  margin-top: 0;
  margin-right: 0%;
  height: 57px;
  width: 150px;
  color: black;
  background-color: orangered;
  border: #6d0101 2px solid;
  border-left: 3px #6d0101 solid;
  border-right: 2px #6d0101 solid;
  transition: 0.7s; }

.nav_register:hover {
  background-color: #f76029; }

.nav_register div {
  padding-top: 20px;
  padding-left: 35px; }

.nav_login div {
  padding-top: 20px;
  padding-left: 30px; }
=======
  .nav .nav_login {
    float: right;
    margin-top: 0;
    margin-right: 0%;
    height: 57px;
    width: 150px;
    color: black;
    background-color: orangered;
    border: #6d0101 2px solid;
    border-right: 0px #6d0101 solid;
    transition: 0.7s; }
    .nav .nav_login:hover {
      background-color: #f76029; }
  .nav .nav_login div {
    padding-top: 20px;
    padding-left: 30px; }
  .nav .nav_register {
    float: right;
    margin-top: 0;
    margin-right: 0%;
    height: 57px;
    width: 150px;
    color: black;
    background-color: orangered;
    border: #6d0101 2px solid;
    border-left: 3px #6d0101 solid;
    border-right: 2px #6d0101 solid;
    transition: 0.7s; }
    .nav .nav_register:hover {
      background-color: #f76029; }
  .nav .nav_register div {
    padding-top: 20px;
    padding-left: 35px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.nav_responsive {
  display: none; }

/*Nav responsive*/
@media Screen and (max-width: 768px) {
  .nav {
    display: none; }
  .nav_responsive {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: orangered;
    border: 3px #6d0101 solid;
    height: 40px;
    width: 100.5%; }
<<<<<<< HEAD
  .nav_responsive_icon {
    height: 40px;
    width: 30px; }
  .nav_responsive_name {
    position: absolute;
    font-family: "Ubuntu", sans-serif;
    color: #6b0202;
    margin-top: 10px;
    margin-left: 10px;
    animation-duration: 2s;
    animation-name: entraresponsive;
    animation-iteration-count: initial; }
=======
    .nav_responsive .nav_responsive_icon {
      height: 40px;
      width: 30px; }
    .nav_responsive .nav_responsive_name {
      position: absolute;
      font-family: "Ubuntu", sans-serif;
      color: #6b0202;
      margin-top: 10px;
      margin-left: 10px;
      animation-duration: 2s;
      animation-name: entraresponsive;
      animation-iteration-count: initial; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188
  @keyframes entraresponsive {
    0% {
      opacity: 0; }
    25% {
      color: #861400; }
    75% {
      color: #6d0101; }
    100% {
      opacity: 1; } }
<<<<<<< HEAD
  .signupandlogin {
    display: flex;
    flex-direction: column;
    float: right;
    height: 40px;
    background-color: #ca3102;
    border-left: 3px #6d0101 solid; }
  .nav_responsive_login {
    font-size: medium;
    color: black;
    border-bottom: 3px #6d0101 solid; }
  .nav_responsive_register {
    font-size: medium;
    color: black;
    margin-left: 4px; } }
=======
    .nav_responsive .signupandlogin {
      display: flex;
      flex-direction: column;
      float: right;
      height: 40px;
      background-color: #ca3102;
      border-left: 3px #6d0101 solid; }
    .nav_responsive .nav_responsive_login {
      font-size: medium;
      color: black;
      border-bottom: 3px #6d0101 solid; }
    .nav_responsive .nav_responsive_register {
      font-size: medium;
      color: black;
      margin-left: 4px; } }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

/*Info desktop*/
.info {
  margin-top: 2px; }
<<<<<<< HEAD

.info_imagen {
  display: inline-block;
  height: 500px;
  width: 42%;
  transition: 0.7s;
  box-shadow: 1px black solid;
  opacity: 0.6; }

.info_imagen:hover {
  opacity: 1; }

.info_background {
  background-color: black;
  height: 500px;
  width: 60%;
  margin-top: -504px;
  margin-left: 42%; }

.info_background h2 {
  position: absolute;
  margin-top: 80px;
  color: blueviolet;
  padding-left: 15%; }

.info_caracteristicas {
  display: inline-block;
  margin-top: 150px;
  color: orange;
  padding-left: 20px; }

.info_caracteristicas li {
  font-size: 15px;
  height: 30px; }

.info_caracteristicas2 {
  display: inline-block;
  position: absolute;
  color: orange;
  padding-left: 4%;
  margin-top: 150px; }

.info_caracteristicas2 li {
  margin-left: 30%;
  font-size: 15px;
  height: 30px; }

.info_gifbg {
  height: 175px;
  width: 933px;
  z-index: 2;
  background-color: black; }

.info_gifbg img {
  height: 175px;
  width: 170px;
  float: right;
  opacity: 0;
  transition: 3s; }

.info_gifbg img:hover {
  opacity: 1; }
=======
  .info .info_imagen {
    display: inline-block;
    height: 500px;
    width: 42%;
    transition: 0.7s;
    box-shadow: 1px black solid;
    opacity: 0.6; }
    .info .info_imagen:hover {
      opacity: 1; }
  .info .info_background {
    background-color: black;
    height: 500px;
    width: 60%;
    margin-top: -504px;
    margin-left: 42%; }
    .info .info_background h2 {
      position: absolute;
      margin-top: 80px;
      color: blueviolet;
      padding-left: 15%; }
    .info .info_background .info_caracteristicas {
      display: inline-block;
      margin-top: 150px;
      color: orange;
      padding-left: 20px; }
      .info .info_background .info_caracteristicas li {
        font-size: 15px;
        height: 30px; }
    .info .info_background .info_caracteristicas2 {
      display: inline-block;
      position: absolute;
      color: orange;
      padding-left: 4%;
      margin-top: 150px; }
      .info .info_background .info_caracteristicas2 li {
        margin-left: 30%;
        font-size: 15px;
        height: 30px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.info_responsive {
  display: none; }

/*Info Responsive*/
@media Screen and (max-width: 768px) {
  .info {
    display: none; }
  .info_responsive {
    display: block; }
<<<<<<< HEAD
  .info_responsive_imagen {
    height: 50%;
    width: 101%;
    margin-bottom: 0;
    opacity: 0.7; }
  .info_responsive_background {
    background-color: black;
    width: 101.1%; }
  .info_responsive_background h2 {
    margin-top: 10px;
    text-align: center;
    color: violet; }
  .info_responsive_caracteristicas {
    color: orange;
    margin-top: 20px;
    padding-left: 5px; }
  .info_responsive_caracteristicas2 {
    color: orange;
    margin-top: 20px;
    padding-left: 5px; } }
=======
    .info_responsive .info_responsive_background {
      background-color: black;
      width: 101.1%; }
      .info_responsive .info_responsive_background .info_responsive_imagen {
        height: 50%;
        width: 101%;
        margin-bottom: 0;
        opacity: 0.7; }
      .info_responsive .info_responsive_background h2 {
        margin-top: 10px;
        text-align: center;
        color: violet; }
      .info_responsive .info_responsive_background .info_responsive_caracteristicas {
        color: orange;
        margin-top: 20px;
        padding-left: 5px; }
      .info_responsive .info_responsive_background .info_responsive_caracteristicas2 {
        color: orange;
        margin-top: 20px;
        padding-left: 5px; } }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

/*Vista de mangas*/
.mangas_title {
  text-align: center;
  font-family: "Silkscreen", cursive;
  color: orange;
  transition: 0.2s; }

.mangas_mangasdisponibles1 {
  margin-top: 20px;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
<<<<<<< HEAD

.mangas_mangasdisponibles1 img {
  height: 200px;
  width: 250px;
  opacity: 0.7;
  transition: 0.5s; }

.mangas_mangasdisponibles1 img:hover {
  opacity: 1;
  height: 205px;
  width: 255px; }

.mangas_mangasdisponibles1 label {
  color: white;
  position: absolute; }
=======
  .mangas_mangasdisponibles1 label {
    color: white;
    position: absolute; }
  .mangas_mangasdisponibles1 #kimetsuname {
    margin-top: 210px;
    margin-left: 35px; }
  .mangas_mangasdisponibles1 #spyfamilyname {
    margin-top: 210px;
    margin-left: 52px; }
  .mangas_mangasdisponibles1 #chainsawname {
    margin-top: 210px;
    margin-left: 45px; }
  .mangas_mangasdisponibles1 img {
    height: 200px;
    width: 250px;
    opacity: 0.7;
    transition: 0.5s; }
    .mangas_mangasdisponibles1 img:hover {
      opacity: 1;
      height: 205px;
      width: 255px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.mangas_mangasdisponibles2 {
  margin-top: 0;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
<<<<<<< HEAD

.mangas_mangasdisponibles2 img {
  height: 200px;
  width: 250px;
  opacity: 0.7;
  transition: 0.5s; }

.mangas_mangasdisponibles2 img:hover {
  opacity: 1;
  height: 205px;
  width: 255px; }

.mangas_mangasdisponibles2 label {
  color: white;
  position: absolute; }

#kimetsuname {
  margin-top: 210px;
  margin-left: 35px; }

#spyfamilyname {
  margin-top: 210px;
  margin-left: 52px; }

#chainsawname {
  margin-top: 210px;
  margin-left: 45px; }

#haikyuname {
  margin-top: 210px;
  margin-left: 62px; }

#deathnotename {
  margin-top: 210px;
  margin-left: 57px; }

#dragonballsupername {
  margin-top: 210px;
  margin-left: 35px; }
=======
  .mangas_mangasdisponibles2 label {
    color: white;
    position: absolute; }
  .mangas_mangasdisponibles2 #haikyuname {
    margin-top: 210px;
    margin-left: 62px; }
  .mangas_mangasdisponibles2 #deathnotename {
    margin-top: 210px;
    margin-left: 57px; }
  .mangas_mangasdisponibles2 #dragonballsupername {
    margin-top: 210px;
    margin-left: 35px; }
  .mangas_mangasdisponibles2 img {
    height: 200px;
    width: 250px;
    opacity: 0.7;
    transition: 0.5s; }
    .mangas_mangasdisponibles2 img:hover {
      opacity: 1;
      height: 205px;
      width: 255px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.mangas_mangasdisponibles3 {
  margin-top: 0;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
<<<<<<< HEAD

.mangas_mangasdisponibles3 img {
  height: 200px;
  width: 250px;
  opacity: 0.7;
  transition: 0.5s; }

.mangas_mangasdisponibles3 img:hover {
  opacity: 1;
  height: 205px;
  width: 255px; }

.mangas_mangasdisponibles3 label {
  color: white;
  position: absolute; }

#hunterxhuntername {
  margin-top: 210px;
  margin-left: 40px; }

#onepiecename {
  margin-top: 210px;
  margin-left: 62px; }

#quintillizasname {
  margin-top: 210px;
  margin-left: 15px; }
=======
  .mangas_mangasdisponibles3 img {
    height: 200px;
    width: 250px;
    opacity: 0.7;
    transition: 0.5s; }
    .mangas_mangasdisponibles3 img:hover {
      opacity: 1;
      height: 205px;
      width: 255px; }
  .mangas_mangasdisponibles3 label {
    color: white;
    position: absolute; }
  .mangas_mangasdisponibles3 #hunterxhuntername {
    margin-top: 210px;
    margin-left: 40px; }
  .mangas_mangasdisponibles3 #onepiecename {
    margin-top: 210px;
    margin-left: 62px; }
  .mangas_mangasdisponibles3 #quintillizasname {
    margin-top: 210px;
    margin-left: 15px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.mangas_responsive_title {
  display: none; }

.mangas_responsive {
  display: none; }

/*Vista de mangas responsive*/
@media Screen and (max-width: 768px) {
  .mangas_title {
    display: none; }
  .mangas {
    display: none; }
<<<<<<< HEAD
  .mangas_responsive {
    display: block; }
  .mangas_responsive a label {
    color: white; }
=======
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188
  .mangas_responsive_title {
    display: block;
    text-align: center;
    color: orange;
    font-family: "Silkscreen", cursive;
    font-size: 20px; }
<<<<<<< HEAD
  .mangas_responsive_mangasdisponibles1 {
    width: 102%;
    text-align: center;
    flex-direction: row;
    opacity: 0.7; }
  .kimetsuimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .spyfamilyimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .mangas_responsive_mangasdisponibles1 label {
    color: white;
    font-size: small; }
  .mangas_responsive_mangasdisponibles2 {
    width: 102%;
    text-align: center;
    opacity: 0.7; }
  .chainsawimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .haikyuimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .mangas_responsive_mangasdisponibles2 label {
    color: white;
    font-size: small; }
  .mangas_responsive_mangasdisponibles3 {
    width: 102%;
    text-align: center;
    opacity: 0.7; }
  .deathnoteimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .dragonballsimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .mangas_responsive_mangasdisponibles3 label {
    color: white;
    font-size: small; }
  .mangas_responsive_mangasdisponibles4 {
    width: 102%;
    text-align: center;
    opacity: 0.7; }
  .hunterximg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .onepieceimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .mangas_responsive_mangasdisponibles4 label {
    color: white;
    font-size: small; }
  .mangas_responsive_mangasdisponibles5 {
    width: 102%;
    text-align: center;
    opacity: 0.7; }
  .quintillizasimg {
    height: 90%;
    width: 100%;
    opacity: 0.5; }
  .comingsoonimg {
    height: 90%;
    width: 49%;
    opacity: 0.5; }
  .mangas_responsive_mangasdisponibles5 label {
    color: white;
    font-size: small; } }
=======
  .mangas_responsive {
    display: block; }
    .mangas_responsive .mangas_responsive_mangasdisponibles1 {
      display: flex;
      width: 102%;
      flex-direction: row;
      text-align: center;
      opacity: 0.7; }
      .mangas_responsive .mangas_responsive_mangasdisponibles1 .kimetsuimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles1 .spyfamilyimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles1 .mangas_responsive_mangasdisponibles1 label {
        color: white;
        font-size: small; }
    .mangas_responsive .mangas_responsive_mangasdisponibles2 {
      display: flex;
      width: 102%;
      flex-direction: row;
      text-align: center;
      opacity: 0.7; }
      .mangas_responsive .mangas_responsive_mangasdisponibles2 .chainsawimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles2 .haikyuimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles2 .mangas_responsive_mangasdisponibles2 label {
        color: white;
        font-size: small; }
    .mangas_responsive .mangas_responsive_mangasdisponibles3 {
      display: flex;
      width: 102%;
      flex-direction: row;
      text-align: center;
      opacity: 0.7; }
      .mangas_responsive .mangas_responsive_mangasdisponibles3 .deathnoteimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles3 .dragonballsimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles3 .mangas_responsive_mangasdisponibles3 label {
        color: white;
        font-size: small; }
    .mangas_responsive .mangas_responsive_mangasdisponibles4 {
      display: flex;
      width: 102%;
      flex-direction: row;
      text-align: center;
      opacity: 0.7; }
      .mangas_responsive .mangas_responsive_mangasdisponibles4 .hunterximg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles4 .onepieceimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles4 .mangas_responsive_mangasdisponibles4 label {
        color: white;
        font-size: small; }
    .mangas_responsive .mangas_responsive_mangasdisponibles5 {
      display: flex;
      width: 102%;
      flex-direction: row;
      text-align: center;
      opacity: 0.7; }
      .mangas_responsive .mangas_responsive_mangasdisponibles5 .quintillizasimg {
        height: 90%;
        width: 100%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles5 .comingsoonimg {
        height: 90%;
        width: 49%;
        opacity: 0.5; }
      .mangas_responsive .mangas_responsive_mangasdisponibles5 .mangas_responsive_mangasdisponibles5 label {
        color: white;
        font-size: small; } }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

/*Footer Desktop*/
.footerdesktop {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: orangered;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5); }
<<<<<<< HEAD

.discordicono {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px; }

.discordfooter {
  display: inline-block;
  padding-left: 60px;
  padding-top: 15px; }

#discordname {
  cursor: pointer;
  color: black;
  display: inline-block;
  font-size: 18px; }

.contactanosicono {
  margin-left: 100px;
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px; }

.contactfooter {
  display: inline-block;
  padding-left: 165px;
  padding-top: 15px; }

#contactanosname {
  cursor: pointer;
  color: black;
  display: inline-block;
  font-size: 18px; }
=======
  .footerdesktop .discordicono {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px; }
  .footerdesktop .discordfooter {
    display: inline-block;
    padding-left: 60px;
    padding-top: 15px; }
    .footerdesktop .discordfooter #discordname {
      cursor: pointer;
      color: black;
      display: inline-block;
      font-size: 18px; }
  .footerdesktop .contactanosicono {
    margin-left: 100px;
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px; }
  .footerdesktop .contactfooter {
    display: inline-block;
    padding-left: 165px;
    padding-top: 15px; }
    .footerdesktop .contactfooter #contactanosname {
      cursor: pointer;
      color: black;
      display: inline-block;
      font-size: 18px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188

.footer_responsive {
  display: none; }

/*Footer Responsive*/
@media Screen and (max-width: 768px) {
  .footerdesktop {
    display: none; }
  .footer_responsive {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: orangered;
    height: 40px;
    width: 102%; }
<<<<<<< HEAD
  .discordicono-res {
    height: 40px;
    width: 40px; }
=======
    .footer_responsive .discordicono-res {
      height: 40px;
      width: 40px; }
>>>>>>> 5102c7b4c9efd5ed1d2f734ac5c2af8cf5212188
  #discordname-res {
    color: black;
    font-size: 16px;
    position: absolute;
    margin-top: 1.7%;
    margin-left: -15%;
    cursor: pointer; }
  #contactanosname-res {
    color: black;
    font-size: 16px;
    position: absolute;
    margin-top: 1.7%;
    margin-left: -13.5%;
    cursor: pointer; } }
