* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 28, 28);
}
/*Nav Desktop*/
.encabezadoregister{
    width: 100%;
    height: 200px;
}

.encabezadoregister_imagen {
    width: 100%;
    height: 200px;
    opacity: 0.5;
    box-shadow: 0px 5px 3px rgba(0,0,0,.5);
}
.encabezadoregister-res {
    display: none;
}
/*Nav Responsive*/
@media Screen and (max-width: 768px) {
    .encabezadoregister {
        display: none;
    }
    .encabezadoregister-res {
        display: inline-block;
        width: 100%;
        height: 200px;
    }
    .encabezadoregister_imagen-res{
        width: 100%;
        height: 200;
        opacity: 0.5;
        box-shadow: 0px 5px 3px rgba(0,0,0,.5);
    }
}
/*Register Desktop*/
.register {  
    display: flex;
    justify-content: center;
    margin-top: 130;
    width: 100%px;
    height: 615px;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.register_background {
    border-radius: 15px;
    border: 5px solid rgb(109, 1, 1);
    background-color:  orangered;
    width: 800px;
    height: 400px;
}

.register_formulario {
    display: flex;
    padding-top: 50px;
    padding-left: 160px;
    flex-direction: row;
    justify-content: space-around;
}

.register_formulario2 {
    display: flex;
    padding-top: 50px;
    padding-left: 22px;
    flex-direction: row;
    justify-content: space-around;
}

.register_formulario2 input{
    box-shadow: 0px 2px 0px black;
    border-radius: 5px;
    height: 30px;
    border: 2px gray solid;
    margin-bottom: 10px;
}

.register_background h2 {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    margin-top: 30px;
    margin-left: 202px;
}

.register_formulario input{
    box-shadow: 0px 2px 0px black;
    border-radius: 5px;
    height: 30px;
    border: 2px gray solid;
    margin-bottom: 10px;
}

#yatienescuenta {
    position: absolute;
    margin-top: 20px;
    margin-left: 290px;
}
#volver {
    position: absolute;
    margin-top: 45px;
    margin-left: 315px;
}

#registerenviar {
    background-color: rgb(73, 73, 73);
    color: aliceblue;
    height: 25px;
}

.regiser_background a {
    color: rgb(16, 1, 150);
}
.register-res {
    display: none;
}
/*Register Responsive*/
@media Screen and (max-width: 768px) {
    .register {
        display: none;
    }
    .register-res {  
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%px;
        height: 615px;
        animation-duration: 2s;
        animation-name: apareceresponsive;
        animation-iteration-count: initial;
    }
    @keyframes apareceresponsive {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .register_background-res {
        border-radius: 15px;
        border: 5px solid rgb(109, 1, 1);
        background-color:  orangered;
        width: 800px;
        height: 250px;
        text-align: center;
    }
    .register_background-res h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
        display: inline-block;
        text-align: center;
    }

    .register_formulario-res {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .register_formulario2-res {
        display: flex;
        padding-top: 0px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #registercodigopostal-res {
        margin-top: -5px;
    }
    #registermail-res {
        margin-top: 15px;
    }
    #registerenviar-res {
        margin-top: 10px;
        margin-left: -0.5%;
        background-color: rgb(73, 73, 73);
        color: aliceblue;
        height: 18px;
    }
}
/*Footer Desktop*/
.piederegiser {
    width: 100%;
    height: 220px;
}

.piederegister_imagen {
    position: absolute;
    width: 100%;
    height: 220px;
    opacity: 0.5;
    margin-top: -50;
    box-shadow: -5px -5px 5px rgba(0,0,0,.5);
}

#registermail {
    margin-left: -228px;
}

#registerenviar {
    margin-top: 80px;
}
.piederegister-res {
    display: none;
}
/*Footer Responsive*/
@media Screen and (max-width: 768px) {
    .piederegister {
        display: none;
    }
    .piederegister-res {
        display: block;
    }
    .piederegister_imagen-res {
        position: absolute;
        width: 100%;
        height: 220px;
        opacity: 0.5;
        margin-top: -50;
        box-shadow: -5px -5px 5px rgba(0,0,0,.5);
    }
}